.DatePicker {
  /* Contenedor de la aplicación */
  .react-datepicker div {
    max-width: 800px;
    /* margin: 0 auto; */
    padding: 6px;
    /* background-color: #fff; */
    border-radius: 8px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  }

  /* Estilos del calendario */
  .react-datepicker-wrapper {
    display: flex;
    justify-content: center;
  }

  .react-datepicker__day {
    border-radius: 50%;
    transition: background-color 0.2s ease;
  }

  .react-datepicker__day--highlighted {
    /* background-color: rgba(0, 123, 255, 0.5); */
    opacity: 0.7;
    color: white;
  }
  .react-datepicker__day--selected {
    opacity: 1;
  }
  .react-datepicker__header {
    background-color: #fff;
    border: none;
  }
  .react-datepicker__day-names {
    background-color: #e6e6ef;
  }
  .react-datepicker__day-name {
    font-weight: bolder;
    color: #0008;
  }
  .react-datepicker__day--outside-month {
    opacity: 0.2;
  }

  .react-datepicker__navigation {
    background-color: #5e63ff88;
    margin-top: 0.5em;
    color: peru;
  }
  .react-datepicker__navigation .react-datepicker__navigation--next .react-datepicker__navigation--next--with-time {
    background-color: green;
    margin-right: 4em !important;
  }

  .react-datepicker__time-container {
    width: 8rem;
    border: none;
  }

  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 7rem;
  }
  .react-datepicker__time-list {
    height: 26em !important;
  }

  .react-datepicker__time-list-item {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .react-datepicker__time-list-item--disabled {
    display: none;
  }
  .react-datepicker__header--time--only {
    margin: 4.1px;
    height: 100%;
  }
  .react-datepicker--time-only,
  .react-datepicker,
  .react-datepicker__time-container {
    border: none;
    border-radius: 0;
  }
}

.appt_list_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  li {
    border: 1px solid #8884;
    border-left: 5px solid #228;
    max-width: 30em;
  }
}

.appt_list {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;

  .info {
    display: flex;
    flex-direction: column;
    min-width: 15em;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .name {
    font-size: 1.2em;
  }
  .lastName {
    opacity: 1;
  }
  .info > p {
    margin: 0;
    padding: 0;
  }
  .description {
    font-size: 1em;
    color: #fff;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 0.2em;
    b {
      font-weight: normal;
    }
  }
  .date_time {
    font-size: 1.5em;
  }

  [class^="icon-"] {
    font-size: 1em;
    aspect-ratio: 1/1;
    color: #fffd;
    margin-right: 0.4em;
  }
}
.ApptCalendarContainer {
  .appt_count {
    /* background-color: peru; */
    font-size: 1.5em;
    color: chartreuse;
    margin-left: 1em;
  }
  .appt-create {
    text-align: center;
    margin: 1em auto;
    display: block;
  }
}
