/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4ea4fa; 
  padding: 10px 20px;
}

.logoContainer {
  flex: 1;
}

.logo {
  width: 100px;
}

.navListContainer {
  flex: 2;
}

.navList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.navList li {
  margin: 0 15px;
}

.navList a {
  color: white;
  text-decoration: none;
  font-size: 1.2em; 
}

.avatarContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

li:hover {
  border-bottom: 1px solid #2b82af;
}

li .logout:hover {
  color: crimson;
} */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4ea4fa;
  padding: 10px 20px;
  position: relative;
}

.logoContainer {
  flex: 1;
}

.logo {
  width: 120px;
}

.navListContainer {
  flex: 2;
  display: none;
  transition: all 0.3s ease;
}

.navList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 15px;
}

.navList a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.navList a:hover {
  color: #2b82af;
}

.actionButton {
  background-color: white;
  color: #4ea4fa;
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #e3f2fd;
  color: #2b82af;
}

.logout:hover {
  color: crimson;
}

.avatarContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Responsive */
@media (min-width: 768px) {
  .navListContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .hamburger {
    display: none;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 20px;
  margin-right: 20px;
}

.hamburger div {
  background: white;
  height: 3px;
  width: 100%;
  border-radius: 2px;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}

.showMenu {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #4ea4fa;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
